.App-header {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: calc(10px + 2vmin);
  color: black;
}

.container {
  border-width: 10;
  border-color: black;
  align-items: center;
}

.buttonMove {
  background-color: '#00FFFF';
  border-radius: 100;
}

.reasons{
  background-color: #EB00FF;

}

